@charset "UTF-8";
/* CSS Document */

body {
	border: solid black;
	border-width: 20px;
}

h1 { 
	color: orange;
	font-size: 100px;
	text-align: center;
}

li {
	list-style: none;
	display: inline;
	float: right;
	text-transform: uppercase;
	padding: 30px 30px 0 0;
	font-weight: 800;
}

.black-box {
	background-color: black;
	height: 250px;
	margin-top: 30px;
}

a:hover .black-box, footer a:hover, h1 a:hover, li a:hover, a:hover {
	opacity: 0.8;
}

footer {
	background-color: black;
	margin-top: 80px;
	text-align:center;
	padding-top: 30px;
}

.center, .middle {
	margin:0 auto;
}

.center {
	text-align:center;
}

h2 {
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 900;
}

nav a {
	color: black;
}

footer p {
	color:white;
	margin-top:30px;
	font-style: italic;
}

section p {
	margin-top: 40px;
}

.fixed-back, .fixed-next {
  position: fixed;
  top: 32%;
}

.fixed-back {
  left: 0;
}

.fixed-next {
  right: 0;
}

#back {
	background-color: black;	
	height: 300px;
	width: 50px;
}

#next {
	background-color: black;
	height: 300px;
	width: 50px;
}

#nedco {
   background: url(../img/nedco-bw.jpg) no-repeat;
   height: 250px;
   margin-top: 30px;
}

#nedco:hover {
   background: url(../img/nedco.jpg) no-repeat;
}

@media (max-width: 680px) {
	.fixed-back, .fixed-next {
		display: none;
	}
}

